<app-navbar></app-navbar>

<div class="container">
    <div class="card">
        <div class="card-header">
            <span class="icon"><mat-icon>attach_money</mat-icon></span>
            <h2>Income</h2>
        </div>

        <hr>
        <div class="income-details">
            <h2>Last Few Months</h2>
            <ul *ngFor="let item of lastMonthsIncome">
               <li> {{item}}</li>
            </ul>

            <div class="month">
                <h3>Current Month Income : </h3>
                <p>{{ currentMonthIncome }}</p>
              </div>
        
              <button class="button" (click)="onIncome()">View</button>
        </div>    
    </div>


    <div class="card">
        <div class="card-header">
            <span class="icon"><mat-icon>money_off</mat-icon></span>
            <h2>Expense</h2>
        </div>

        <hr>
        <div class="income-details">
            <h2>Last Few Months</h2>
            <ul *ngFor="let item of lastMonthsExpense">
               <li>{{item}}</li> 
            </ul>

            <div class="month">
                <h3>Current Month Expense :</h3>
                <p>{{ currentMonthExpense }}</p>
              </div>
        
              <button class="button" (click)="onExpense()">View</button>
        </div>    
    </div>


    <div class="card">
        <div class="card-header">
            <span class="icon"><mat-icon>event_note</mat-icon></span>
            <h2>To -do</h2>
        </div>

        <hr>
        <div class="income-details">
            <h2>Todo's to complete</h2>
         
<!-- <ul *ngFor="let item of todolist">
    {{item}}
</ul> -->
    
<section class="example-section">
    <span class="example-list-section">
      <mat-checkbox class="example-margin"
                    [checked]="allComplete"
                    [color]="task.color"
                    [indeterminate]="someComplete()"
                    (change)="setAll($event.checked)">
      <span style="color: black;"> {{task.name}}</span> 
      </mat-checkbox>
    </span>
    <span class="example-list-section">
      <ul >
        @for (subtask of task.subtasks; track subtask) {
          <li >
            <mat-checkbox [(ngModel)]="subtask.completed"
                          [color]="subtask.color"
                          (ngModelChange)="updateAllComplete()">
             <span style="color: black;"> {{subtask.name}}</span> 
            </mat-checkbox>
          </li>
        }
      </ul>
    </span>
  </section>
        
              <button class="button" (click)="onTodo()">View</button>
        </div>    
    </div>

   
    <div class="card">
        <div class="card-header">
            <span class="icon"><mat-icon>checkbox</mat-icon></span>
            <h2>To-do</h2>
        </div>

        <hr>
        <div class="income-details">
            <h2>Savings</h2>
            <ul *ngFor="let item of lastMonthsSavings">
              <li> {{item}}</li>
            </ul>

            <div class="month">
                <h3>Current Month Savings</h3>
                <p>{{ currentMonthsSavings }}</p>
              </div>
        
              <button class="button" (click)="onSavings()">View</button>
        </div>    
    </div>

   


</div>

